body {
  font-family:  Rethink Sans, Helvetica, Arial, sans-serif;;
}

#header-h1 {
  font-weight: 800;
  font-style: italic;
  font-size: 4em;
  margin: 0;
  padding: 0;
}

h2 {
  margin-left: 10px;
}
/* 
#navbar {
  border-bottom: 10px solid black;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.nav-link {
  padding: 5px;
  margin: 5px;
}

.nav-link {
  padding: 5px 10px 5px 0px;
  margin-right: 5px;
  font-size: 1.2em;
}

.nav-link > a:link, a:visited, a:active {
  color: black;
}
.nav-link:hover {
  text-decoration: underline;
  color: magenta;
} */